<nav style="background-color: black">
        <div class="nav-wrapper" style="background-color: #3a3a3a; border-radius: 18px">
        <a href="/home"><img src="/images/logoo.png" class="brand-logo" style="width: 60px;height: 87%;margin-left: 30px;border-radius: 47px;margin-top: 3px;"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down" style="margin-right: 50px">
            <li><a href="/shop">Shop</a></li>
            <li><a href="/fight">Fight!</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo" style="background-color:black">
        <li><a href="/shop" style="color:white">Shop</a></li>
        <li><a href="/fight" style="color:white">Fight!</a></li>
      </ul>