<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/test/head')%>
  <body class="row">
    <div>
      <div class="row"></div>
      <form action="/fight/attack" method="POST">
        <!-- <input type='hidden' name='playerId' > -->
        
        <input type="submit" name="action" value="Update" />
        <input type="submit" name="action" value="Delete" />
        
        
      </form>
    </div>
    <%- include('../partials/test/inits')%>
  </body>
</html>
