<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body background="/images/loginn.jpg" style="background-size: cover; position:relative">
    <% if (err) { %>
        <%- include('../partials/err',err) %>
    <% } %>
    <% if (notif) { %>
        <%- include('../partials/notif',notif) %>
    <% } %>
    <div class="row" style="width: 25%;position: absolute;right: 14em;height: 500px;background-color: grey;background-image: url(/images/texture.jpg);background-size: cover;border-radius: 30px;/* bottom: 2em; */top: 7em;" >
        <div style="height: 76%">
            <h1 class="center-align" style="color:#d6d6d6">Welcome to mafiaWars</h1>
        </div>
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1" style="background-color: #545454;">Login</a>
        </div>
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal2" style="background-color: #545454;">register</a>
        </div>
    </div>
    <div id="modal2" class="modal">
            <div class="modal-content" style="background:#0f0f0f">
                <h5 class="center-align" style="color: grey">REGISTER</h5>
                    <form class="col s12" method="POST" action="/register">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="username" type="text" class="validate" name="username" style="color:white">
                                    <label for="username">Username</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="password" type="password" class="validate" name="password" style="color:white">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" name="email" style="color:white">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 42%">
                                <button class="btn waves-effect waves-light" type="submit" style="background-color:#d6d4d4;color: black">Register!<i class="material-icons right"></i>
                                </button>
                            </div>
                    </form>
            </div>
          </div>
          <div id="modal1" class="modal">
                <div class="modal-content" style="background:#0f0f0f">
                    <h5 class="center-align" style="color: grey">Login</h5>
                        <form class="col s12" method="POST">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="username" type="text" class="validate" name="username" style="color:white">
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="password" type="password" class="validate" name="password" style="color:white">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row" style="margin-left: 45%">
                                    <button class="btn waves-effect waves-light" type="submit" style="background-color:#d6d4d4;color: black">Login!<i class="material-icons right"></i>
                                    </button>
                                </div>
                        </form>
                </div>
              </div>
    <div>
    </div>
    <%- include('../partials/script')%>
</body>

</html>