<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body background="/images/loginn.jpg" style="background-size: cover; position:relative">
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class='row'>
            <div class="col s6">

            </div>
            <div class="col s6">

            </div>

        </div>
    </div>
    
    
</body>
</html>